# fly.toml file for a Spring Boot application with a Dockerfile
app = "sot-finder-backend" 
primary_region = "ord"

# The [build] section tells Fly.io to use the local Dockerfile for building.
[build]
  
[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0

[checks]
  [checks.alive]
    type = "tcp"
    interval = "15s"
    timeout = "2s"
    grace_period = "5s"
    port = 8080

  [checks.ready]
    type = "http"
    port = 8080
    interval = "15s"
    timeout = "2s"
    grace_period = "30s"
    method = "GET"
    path = "/actuator/health/readiness"
    protocol = "http"